.heading{
    font-family: "bubblegum_sansregular", sans-serif;
    font-size: 110px;
    color: #337ab7 !important;
    text-align: center;
    align-items: center;
    align-content: center;
    float: inherit;
    padding-top: 5%;
    padding-left: 10%;
}

.logo{
    max-width: 20%;
    max-height: 20%;
}

.fozzle{
    font-family: "bubblegum_sansregular", sans-serif;
    color: #337ab7 !important;
    text-align:center; 
}

.icon-size{
    font-size: 2em;
}

.left-pad{
   padding-left: 2%;
}

.resImg{
    display:block;
    margin:auto;
}

.ss{
    max-width: 50%;
    max-height: 50%;
}
