<head>
    <title>Meeting - 12/04/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 12/04/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
    <h4>Feedback on research done so far:</h4>
        <ul>
            <li>Focus should be on technology</li>
            <li>Steven Bird (published in CS)</li>
            <li>Audio recordings:</li>
            <ul>
                <li>Preserve languages</li>
                <li>Does not allow for growth</li>
                <li>Can't search</li>
                <li>Can’t use for teaching</li>
            </ul>
            <li>Focus on text</li>
            <li>Dictionaries:</li>
            <ul>
                <li>Spoken dictionaries</li>
                <li>Visual dictionaries</li>
            </ul>
            <li>Focus on computing aspects </li>
            <li>Find specific technical solutions</li>
            <li>Resource Management Agency (RMA)</li>
            <ul>
                <li>NWU</li>
                <li>Government</li>
                <li>Maintain language information</li>
                <li>Building archives for languages</li>
            </ul>
            <li>African language... (AFLAT)</li>
            <ul>
                <li>Local</li>
                <li>Should find the papers of people involved in this</li>
            </ul>
            <li>Start local and link to global from there</li>
            <li>Marginalised languages</li>
            <li>Check out universities CS departments</li>
            <li>Papers written in the department and follow references</li>
            <ul>
                <li>Honours project couple of years ago (08/09)</li>
                <li>Language preservation paper</li>
            </ul>
            <li>Each of us will write a general literature review</li>
        </ul>
        
    </div>
    
</body>
