<head>
    <title>Meeting - 26/07/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 26/07/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
        <h4>All</h4>
        <ul>
            <li>new project name</li>
            <li>focus on features</li>
            <li>should have more languages than just English</li>
        </ul>
        <h4>Andreas</h4>
        <ul>
            <li>automatically detect languages</li>
            <li>single sing-on</li>
            <li>java-python lib to work</li>        
        </ul>
        <h4>Next Demo</h4>
        <ul>
            <li>make sure things are working</li>
            <li>have recommended changes implemented</li>
        </ul>
        
    </div>
    
</body>
