<head>
    <title>Meeting - 20/10/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 20/10/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>new experimental design</h4>
        <ul>
            <li>approved and take out the open ended</li>
        </ul>
        
        <h4>users for both sections</h4>
        <ul>
            <li>yes, 1.50 hours</li>
            <li>get some students to do translations</li>
        </ul>
        
        <h4>When to schedule the experiments</h4>
        <ul>
            <li>schedule experiments for Friday @ 13:00</li>
        </ul>
        
    </div>
    
</body>