<head>
    <title>Meeting - 17/05/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 17/05/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
    <h4>Project proposal final draft:</h4>
        <ul>
            <li>Move portals above rest of things</li>
            <li>Add more arrows to proper destination</li>
            <li>Look at marking guides</li>
            <li>Reduce lit review section</li>
        </ul>
    
        <h4>First prototype:</h4>
        <ul>
            <li>Test software</li>
            <li>Implement major features</li>
            <li>Prototype:</li>
            <ul>
                <li>Basic technology</li>
                <li>Feasibility</li>
                <li>Iterative development cycle</li>
                <li>Small version and then scale</li>
                <li>Make a research project to prove a point</li>
            </ul>
        </ul>
        
        <h4>Proposal presentations:</h4>
        <ul>
            <li>Overall motivation and what it is (1 person)</li>
            <ul>
                <li>High level and maybe lit review</li>
            </ul>
            <li>Lit review can also be per person</li>
            <li>Each person talks about part of project:</li>
            <ul>
                <li>Research question</li>
                <li>What are you building?</li>
                <li>Explain section</li>
                <li>Literature review (maybe)</li>
                <li>Evaluation and methodology</li>
            </ul>
            <li>Can tie with other fluff at the end</li>
            <ul>
                <li>Risks</li>
            </ul>
            <li>Questions:</li>
            <ul>
                <li>What is difficult about the project?</li>
                <li>How is it more difficult than second year project?</li>
                <li>Too much work</li>
                <li>Have defence for questions!</li>
                <li>Gimmicks allowed -> check first</li>
            </ul>
        </ul>
        
    </div>
    
</body>