<head>
    <title>Meeting - 19/04/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 19/04/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
        
        <h4>Project breakdown:</h4>
        <ul>
            <li>Collect</li>
            <li>Store</li>
            <li>Portal</li>
        </ul>
        
        <h4>Portal:</h4>
        <ul>
            <li>Story collections -> link to education - paper on African story books for kids</li>
            <li>Recommendations:</li>
            <ul>
                <li>Email list of new docs</li>
                <li>cool site of the day -> paper on radio station that did this</li>
                <li>suggest a site - user submit a site</li>
            </ul>
            <li>Profile - language specifications</li>
            <li>responsive application - web app</li>
            <li>Collaborative translations</li>
            <li>archive.org - archive the Web</li>
        </ul>
        
        <h4>Questions we need to answer for next meeting:</h4>
        <ul>
            <li>Can we add anything more exciting?</li>
            <li>Can we remove anything?</li>
            <li>How to break it up between the three of us?</li>
        </ul>
        
    </div>
    
</body>