<head>
    <title>Meeting - 26/04/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 26/04/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <ul>
            <li>Teach language: duo-lingual site - Nalibali.org</li>
            <li>Blogs are dead.</li>
            <li>User contributions and discovery -> split portal</li>
            <li>split portal = substantial</li>
            <li>expedia - search engine by Microsoft</li>
            <li>Pop-up tabs for results in other languages. </li>
            <ul>
                <li>Example: Find cheaper flight</li>
            </ul>
        </ul>
        
    </div>
    
</body>