<head>
    <title>Meeting - 03/05/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 03/05/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <ul>
            <li>People don’t like being tracked.</li>
            <li>How to test the backend - independently of each other/some overlapping evaluations</li>
            <li>Success measure of backend - experiments for backend</li>
            <li>Sean Packham - for xhosa corpus from past project.</li>
            <li>Statistical reporting of search and gatherer - user for investigating and managing. UI</li>
        </ul>
        
    </div>
    
</body>
