<head>
    <title>Meeting - 16/05/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 16/05/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
        
        <h4>Research questions:</h4>
        <ul>
            <li>Osher:</li>
            <ul>
                <li>Suggest you have a method that works (you don’t)</li>
                <li>Can have accurate detection language for RSL</li>
                <li>Can create high quality corpora from digital content on the Web</li>
            </ul>
            <li>Alon:</li>
            <ul>
                <li>Suggests only testing the showing</li>
                <li>Which approach to display results is best user experience</li>
                <li>Viable?</li>
                <li>Can't compare interleaving with tabs approach</li>
                <li>Could use different methods</li>
                <li>Could interleave across multiple languages</li>
                <li>Blind vs. smart interleaving</li>
                <li>More results or accurate results?</li>
                <li>Results are more diverse?</li>
                <li>Accuracy of translation is out of scope</li>
                <li>Check if results are diverse and f high quality</li>
                <li>Graph of diversity vs quality (precision, recall)</li>
            </ul>
            <li>Andreas:</li>
            <ul>
                <li>Does gamification motivate to contribute to language portal?</li>
                <li>How to test this? </li>
                <li>Can’t prove it</li>
                <li>Control trails:</li>
                <ul>
                    <li>Give something to do </li>
                    <li>Speculative experimentation</li>
                </ul>
            </ul>
        </ul>
        
        <h4>Procedures and methods:</h4>
        <ul>
            <li>Textual description</li>
            <li>Develop prototype features that contains following features</li>
            <li>Conduct experiments too</li>
            <li>Combine features and descriptions</li>
            <li>Keep challenges</li>
            <li>Don't put challenges that we have no answers to</li>
            <li>Image: put langs under the portal with...</li>
            <li>Who are the users?</li>
            <ul>
                <li>UCT students are easiest</li>
                <li>Students are good enough</li>
            </ul>
        </ul>
        
        <h4>Indexing:</h4>
        <ul>
            <li>How do we store docs?</li>
            <li>Shouldn't complain</li>
            <li>Using library Solr</li>
            <ul>
                <li>Use standard toolkit for standard indexing</li>
                <li>Store docs as files</li>
                <li>Add tools</li>
            </ul>
        </ul>
        
        
        
    </div>
    
</body>