<head>
    <title>Meeting - 17/05/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 17/05/2016</h2>
        <p><b>Members Present:</b> Dr Grant McNulty, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>500 Year Archive</h4>
        <ul>
            <li>Swazi land content</li>
            <li>Build multilingual cross discipline archive</li>
            <li>Items are dispersed all over country</li>
            <li>Labelling is incorrect</li>
            <li>Digital library can trace the history of items</li>
            <li>Local language content</li>
            <ul>
                <li>Swazi land oral history projects</li>
                <li>Audio</li>
                <li>Hand-written manuscripts</li>
                <li>Typescripts</li>
            </ul>
            <li>Zulu</li>
            <li>Community portal</li>
            <li>Aimed at oral historians</li>
        </ul>
    
        <h4>James Stewart Archives:</h4>
        <ul>
            <li>Colonial</li>
            <li>Spoke Zulu</li>
            <li>Recorder history of the clans</li>
            <li>Has Zulu bits</li>
            <li>25 years</li>
            <li>Comprehensive written record</li>
            <li>Colin De B. Wright</li>
            <li>Interviews with people</li>
        </ul>
        
        <h4>Aside/doctorate:</h4>
        <ul>
            <li>Ulwazi program</li>
            <li>800 articles in Zulu</li>
            <li>Ulwazi.org/ulwazi.project.org</li>
            <li>Zulu wiki for municipality</li>
            <li>Chapter in thesis on it</li>
            <li>Users stats:</li>
            <ul>
                <li>Keen on local content</li>
                <li>Contributions are difficult</li>
            </ul>
        </ul>
        
        <h4>Ideas:</h4>
        <ul>
            <li>Data prizes</li>
            <li>SMS code submissions</li>
            <li>Only UCT things:</li>
            <ul>
                <li>Memories of UCT</li>
                <li>Experiences of UCT</li>
                <li>First year experiences vs. Outgoing experiences</li>
                <li>Creates a target group</li>
            </ul>
            <li>Easier to analyse what data is submitted</li>
            <li>How to handle racist/sexist posts?</li>
            <ul>
                <li>Conflicting results in the rating section based on own opinion</li>
            </ul>
            <li>Moderation:</li>
            <ul>
                <li>Source should determine if it's ok</li>
                <li>Where people come from that create the content and rate</li>
                <li>Have text box with explanation of people’s background in user profiles</li>
            </ul>
            <li>Freeflow tags</li>
            <li>Standard categories/tags</li>
            <li>Geotag features?</li>
            <ul>
                <li>Local content from local areas</li>
                <li>Can use location as auth</li>
            </ul>
            <li>Tagging content</li>
            <ul>
                <li>Broad categories</li>
                <li>Each have 2-3 levels</li>
                <li>Allow people to tag content uploaded into categories</li>
            </ul>
            <li>Tswane speakers, Zulu speakers, Xhosa speakers to use</li>
            <li>Platform over time</li>
            <ul>
                <li>Have people dedicated to checking</li>
                <li>Allow people to have certain ranks</li>
            </ul>
            <li>Drivers:</li>
            <ul>
                <li>Something drives people to contribute</li>
                <li>Need to fix something</li>
                <li>Driver for motivation</li>
                <li>Voluntary moderators</li>
            </ul>
            <li>Differences in Zulu dialects in the country</li>
            <ul>
                <li>Geolocation not very relevant</li>
                <li>Could data mine and gather info about it</li>
                <li>Could be related to tribes</li>
                <li>Data could be interesting</li>
            </ul>
        </ul>
        
    </div>
    
</body>