<head>
    <title>Meeting - 19/07/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 19/07/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Prototype Expectations</h4>
        <ul>
            <li>Uploading combination</li>
            <li>detect language</li>
            <li>query something to find that doc</li>     
        </ul>
    </div>
</body>