<head>
    <title>Meeting - 11/08/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 11/08/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Discussed:</h4>
        <ul>
            <li>reported on what we have achieved this week</li>
            <li>Husseins Response</li>
            <ul>
                <li>if things go well project it can live beyond</li>
                <li>he is considering it</li>
            </ul>
            <li>Osher:</li>
            <ul>
                <li>fix language detector with file size</li>
                <li>check google queries</li>
                <li>build word lists from webpage in each language</li>
            </ul>
            <li>Andreas:</li>
            <ul>
                <li>Review feature and only being approved then</li>
                <li>work on user interface</li>
            </ul>
            <li>Alon:</li>
            <ul>
                <li>2 ways to display results</li>
            </ul>
            <li>Meeting next week Thursday at 2pm -> mini demo</li>
            <li>English is added as full UI language</li>
        </ul>
        
    </div>
    
</body>