<head>
    <title>Meeting - 29/09/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 29/09/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Translation Crowd sourcing</h4>
        <ul>
            <li>go for it</li>
            <li>see what responses we get</li>
            <li>spam forums with links</li>
            <li>send to all years</li>
        </ul>
        
        <h4>Email</h4>
        <ul>
            <li>sent to someone and they post it</li>
            <li>send to all years</li>
        </ul>
        
        <h4>Evaluations</h4>
        <ul>
            <li>flyers with tags</li>
        </ul>
        
        <h4>How does Lime survey store it?</h4>
        <ul>
            <li>stores in proper format</li>
        </ul>
        
        <h4>Send Hussein email about budget</h4>
        <h4>Ask in honours class who can participate</h4>
        <h4>can ask on CS Facebook group</h4>
        <h4>communities that work with UCT4D</h4>
        
        <h4>Experiment</h4>
        <ul>
            <li>where are the docs?</li>
            <li>In experiment: change default to be register and not log in</li>
            <li>say the language that they signed up with</li>
            <li>create logins for users to use</li>
        </ul>
        
        <h4>Design</h4>
        <ul>
            <li>do for one week and get paid for</li>
            <li>Task 6 they can take a week</li>
        </ul>
        
        <h4>Task sheet</h4>
        <ul>
            <li>take out no. 6</li>
            <li>change lang as before</li>
        </ul>
        
        
        
        
    </div>
    
</body>