<head>
    <title>Meeting - 04/05/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 04/05/2016</h2>
        <p>Project Proposal - RM Lecture</p><hr>
    </div>
    
    <h4>Todo:</h4>
    <ul>
        <li>Start with a scafold - if hussein wants.</li>
        <li>Get relavent pieces from our literature reviews.</li>
        <li>Aim.</li>
        <li>Approach - making diagrams to show (e.g. task breakdown, project flow, etc).</li>
        <li>Testing.</li>
        <li>what makes it a success?</li>
        <li>Milestones and timelines.</li>
    </ul>
    
    <h4>Other notes:</h4>
    <ul>
        <li>Research question - each have our own in our final project.</li>
        <li>Weekly meetings - but ask to meet for more questions if need be.</li>
        <li>Only have to attend day of presentation - 5mins each - 15 minute presentation. (Practice for dry run before hand)</li>
        <li>Software dev or research project? Evaluted as a software product in the end or evualted as a project idea at the end.</li>
        <li>Copyright - legal/ethical issues. Look at legal/ethical issues from past projects for ideas.</li>
        <li>If our project done before - why are we doing it again?</li>
    </ul>
    
</body>