<head>
    <title>Meeting - 08/09/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 08/09/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Osher</h4>
        <ul>
            <li>Try index a collection of Xhosa documents to test</li>
            <li>Check Solr schema and config to specify what gets indexed</li>
            <li>Need to index content as well</li>
        </ul>
        
        <h4>Alon</h4>
        <ul>
            <li>Catherine - "If you're applying rules then it should be done to query terms as well."</li>
            <li>Use content field</li>
        </ul>
        
        <h4>Andreas</h4>
        <ul>
            <li>Blue too dominant</li>
            <li>Try reduce it</li>
            <li>Container/Visible columns with search</li>
            <li>Change colour of logo</li>
            <li>Orange will be tested</li>
        </ul>
        
    </div>
    
</body>