<head>
    <title>Meeting - 10/11/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 10/11/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>where to hand in code</h4>
        <ul>
            <li>submission will be sorted</li>
        </ul>
        
        <h4>State of system</h4>
        <ul>
            <li>is fine for Alon don't leave the method stuff</li>
        </ul>
        
        <h4>Email about demo</h4>
        <ul>
            <li>week of 21st</li>
            <li>book room and projector</li>
        </ul>
        
    </div>
    
</body>