<head>
    <title>Meeting - 19/08/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 19/08/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Todo's from demo:</h4>
        <h5>Alon</h5>
        <ul>
            <li>Sorting of results</li>
            <li>can't use raw scores to compare languages</li>
        </ul>
        <h5>Andreas</h5>
        <ul>
            <li>new skin</li>
            <li>turn around upload flow</li>
            <li>help texts on functions</li>
            <li>tutorial site intro</li>
            <li>motivational elements</li>
            <li>reviews on continuous loop</li>
            <li>stats</li>
            <li>report buttons instead of q's</li>
            <li>browse feature misleading</li>
            <li>languages on sign up</li>
            <li>footer</li> 
            <li>multiple uploads</li>
            <li>points for document views</li>
            <li>one sign in page</li>
            <li>new logo and name</li>
            <li>take out switches</li>
            <li>leave out reviews of reviews</li>
            <li>language selector needs to be moved</li>
        </ul>
        <h5>Osher</h5>
        <ul>
            <li>Keep html pages</li>
            <li>how to open web pages</li>
            <li>how to handle 404's</li>
        </ul>
        
    </div>
    
</body>