<head>
    <title>Meeting - 03/12/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 03/11/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>new participants: how many?</h4>
        <ul>
            <li>do more, monday 3 groups</li>
        </ul>
        
        <h4>Code handin and demo</h4>
        <ul>
            <li>keep an eye on it</li>
        </ul>
        
        <h4>UI translations in paper?</h4>
        <ul>
            <li>mention words are not put in but functionality is</li>
        </ul>
        
        <h4>Final</h4>
        <ul>
            <li>show all features</li>
            <li>everything together</li>
            <li>should be more formal</li>
            <li>show separate parts</li>
            <li>show most important features</li>
        </ul>
        
    </div>
    
</body>