<head>
    <title>Meeting - 05/04/2016</title>
</head>

<body>

    <div>
        <h2>Meeting Notes - 05/04/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>

    <div>
        <h4>Logistics:</h4>
        <ul>
            <li>see email received</li>
            <li>mailing list (could contain relevant content for project)</li>
            <li>open project site used for attachments/hand-ins (can also do gannt charts)</li>
            <li>google calendar</li>
            <ul>
                <li>contains own and department deadlines</li>
            </ul>
            <li>Literature review 27th</li>
            <li>Draft due 19th</li>
            <li>Proposal:</li>
            <ul>
                <li>2 drafts</li>
                <li>Multiple iterations necessary</li>
            </ul>
            <li>Start work straight after the proposal presentations</li>
            <li>Need to work on it on holidays</li>
            <li>Literature review:</li>
            <ul>
                <li>Not interested in structure</li>
                <li>Need to understand literature for proposal</li>
                <li>Get an idea of what we are doing</li>
            </ul>
        </ul>
        
        <h4>Project:</h4>
        <ul>
            <li>Research project</li>
            <li>Need goal</li>
            <li>Software solution</li>
            <li>Area of Research:</li>
            <ul>
                <li>Algorithms processing natural languages</li>
                <li>Archiving docs to heritage</li>
            </ul>
            <li>Create portal</li>
            <li>Create excitement about portal</li>
            <li>Culture is embedded in language</li>
            <ul>
                <li>If we lose language, we lose culture</li>
                <li>Language that will die</li>
                <li>Used for history</li>
                <li>Can't understand text anymore</li>
            </ul>
            <li>Preserve languages</li>
            <ul>
                <li>Living system</li>
                <li>Preserve docs</li>
                <li>Space where people will add their own docs</li>
            </ul>
        </ul>
        
        <h4>Experiment:</h4>
        <ul>
            <li>Exciting electronic space</li>
            <li>Archive stores docs in languages</li>
            <li>Community generated</li>
            <li>Meant to test theory:</li>
            <ul>
                <li>Use the Web to build a community</li>
                <li>Work towards a common cause</li>
            </ul>
        </ul>
        
        <h4>Background:</h4>
        <ul>
            <li>In early days exiting tools were around</li>
            <li>Search engines were born</li>
            <li>Trying to replicate early excitement about search engines</li>
            <li>Only for people of African languages</li>
            <li>Linked to larger research project</li>
            <ul>
                <li>Algorithms to process natural languages </li>
            </ul>
            <li>Look at technology from a different angle</li>
            <li>Create and archive content</li>
            <li>No motivation to make content</li>
            <li>Need to motivate people</li>
            <ul>
                <li>Build system to motivate people to supply docs</li>
            </ul>
            <li>How can we build a community?</li>
            <ul>
                <li>Gamification?</li>
            </ul>
            <li>Hybrid technologies</li>
            <li>Can automatically determine languages</li>
            <li>Crowd sourcing to determine languages</li>
            <li>Use different techniques to build system where people can submit docs</li>
            <li>All documentation not just academic</li>
            <li>Collect all the things!</li>
            <li>Could create a focused crawler</li>
            <li>Start search for:</li>
            <ul>
                <li>Language preservation for other languages and African languages</li>
                <li>CSC African languages</li>
                <li>Languages portals?</li>
                <li>ACM African languages</li>
                <li>Multi prong approach to preserve languages</li>
                <li>Marginalised language preservation</li>
                <li>Marginalised language preservation for natural language processing</li>
                <li>ACMDL</li>
            </ul>
            <li>Needs to be across multiple languages</li>
            <ul>
                <li>One is too small</li>
                <li>In SA languages</li>
                <li>600 bantu languages</li>
            </ul>
            <li>Interest all over the world</li>
            <li>Meetings every week from now until end</li>
            <ul>
                <li>Tuesdays 12:00-13:00</li>
            </ul>
        </ul>
        
    </div>
    
    
</body>
