<head>
    <title>Meeting - 27/10/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 27/10/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Where to write about pilot experiment</h4>
        <ul>
            <li>if participants are enough then don't include</li>
            <li>then just what was learnt</li>
        </ul>
        
        <h4>Change language name</h4>
        <ul>
            <li>yes, should change</li>
        </ul>
        
        <h4>Do graphs count towards page count?</h4>
        <ul>
            <li>yes it does, no appendix</li>
        </ul>
        
        <h4>Web portal uploads</h4>
        <ul>
            <li>lang id of docs</li>
            <li>needs to be clear what feature</li>
        </ul>
        
        <h4>Paper</h4>
        <ul>
            <li>weighting after first draft</li>
            <li>add reviewing to task 6</li>
            <li>have subsections and write more about it</li>
        </ul>
        
    </div>
    
</body>