<head>
    <title>Meeting - 04/08/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 04/08/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Discussed:</h4>
        <ul>
            <li>Search results</li>
            <ul>
                <li>testing aspect change arrangements of results, maybe tabs?</li>
            </ul>
            <li>28 August – should be done for Hussein. Test shortly afterward. </li>
            <li>How you evaluate queries? Give a set task. </li>
            <li>Aims for next week: </li>
            <ul>
                <li>Alon – Visit count and order of results</li>
                <li>Andreas – Implement viewing for other docs like pdf or docx. Fix automatic language detection. Single sign on.</li>
                <li>Osher – Create seed list using Google and wordList. Fix class paths for java.</li>
            </ul>
            
        </ul>
        
    </div>
    
</body>