<head>
    <title>Meeting - 15/09/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 15/09/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Andreas</h4>
        <ul>
            <li>Scrolling header disappearing</li>
            <li>navbar</li>
            <li>article heading shows us</li>
            <li>Hussein blue</li>
            <li>Number on statistics widget</li>
            <li>Level progression: add 20 points</li>
            <li>tell users how many points you earned</li>
            <li>some stats: click shows all stats</li>
            <li>Browse by languages</li>
        </ul>
        
        <h4>Alon</h4>
        <ul>
            <li>Result fusion by re-ranking</li>
            <li>distributed IR result fusion</li>
            <li>go ahead with reranking</li>
        </ul>
        
        <h4>Osher</h4>
        <ul>
            <li>make assumption of UTF-8</li>
            <li>Functional method that cleans text</li>
            <li>Closing double quotes</li>
            <li>Own UTF-8 cleaner</li>
        </ul>
        
    </div>
    
</body>