<head>
    <title>Meeting - 10/05/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 10/05/2016</h2>
        <p><b>Members Present:</b> Assoc Prof. Hussein Suleman, Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <h4>Separation of Project Proposals:</h4>
    <ul>
        <li>split portal into 2 parts and the have web crawling as third part</li>
        <li>Portal split part 1 (<b>Alon</b>):</li>
        <ul>
            <li>Search function and displaying results in a specific way</li>
        </ul>
        <li>Portal split part 2 (<b>Andreas</b>):</li>
        <ul>
            <li>Actual website (approved)</li>
            <li>Most popular page (approved)</li>
            <li>Story of the day (approved)</li>
            <li>Twitter functionality/feed/link (approved)</li>
            <li>File uploading and user submissions (approved)</li>
            <li>User accounts (approved)</li>
            <li>Localisation (approved)</li>
            <li>Tracking search history of users (declined)</li>
            <li>Preferences and suggestions on user behaviour (declined)</li>
            <li>Add ranks for users (approved)</li>
            <li>Comments section (declined)</li>
            <li>Voting for documents (approved)</li>
            <li>Submitting corrections (approved)</li>
            <li>RSS Feed/mailing list (approved)</li>
        </ul>
        <li>Portal overlap:</li>
        <ul>
            <li>RSS feed for new terms/mailing list</li>
            <li>Sending query</li>
            <li>Showing results</li>
            <li>User profile section</li>
        </ul>
    </ul>
    
</body>