<head>
    <title>Meeting - 22/09/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 22/09/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Andreas</h4>
        <ul>
            <li>remove 'about us' to own page</li>
            <li>remove stripes on profile progress bar</li>
        </ul>
        
        <h4>Osher</h4>
        <ul>
            <li>check research for ngrams</li>
            <li>4 is good</li>
            <li>3/4/5 is good</li>
            <li>1 to 5 based on query</li>
            <li>use 2/3 languages</li>
        </ul>
        
    </div>
    
</body>