<head>
    <title>Meeting - 02/09/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 02/09/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Andreas</h4>
        <ul>
            <li>Heading -> Website looks simple</li>
            <li>Use African theme or something related as heading looks to simple</li>
            <li>views, add new layout of little widgets and components</li>
        </ul>
        
        <h4>Alon</h4>
        <ul>
            <li>Look at papers with regards to multiple sized collections</li>
            <li>Get documents from Osher and try searching</li>
        </ul>
        
        <h4>Osher</h4>
        <ul>
            <li>Fix indexing for url and create Python pdf file reader</li>
        </ul>
        
        <h4>All</h4>
        <ul>
            <li>Merge branches to make sure everything works together</li>
        </ul>
    </div>
    
</body>