<head>
    <title>Meeting - 25/08/2016</title>
</head>
<body>

    <div>
        <h2>Meeting Notes - 25/08/2016</h2>
        <p><b>Members Present:</b> Catherine Chavula, Alon Bresler, Andreas von Holy, Osher Shuman</p><hr>
    </div>
    
    <div>
    
        <h4>Alon</h4>
        <ul>
            <li>Reimplement scoring algorithm - go with 3</li>
            <li>Test 4 vs 2. If you have enough time do all</li>
            <li>Interleaving</li>
            <li>Score calculations</li>
        </ul>
        
        <h4>Name</h4>
        <ul>
            <li>Work in progress. Waiting for reply</li>
        </ul>
        
        <h4>Name</h4>
        <ul>
            <li>Work in progress. Waiting for reply</li>
        </ul>
        
        <h4>User Testing</h4>
        <ul>
            <li>2/3 people</li>
        </ul>
        
        <h4>Andreas</h4>
        <ul>
            <li>add new features</li>
            <li>reskin and implement switches</li>
        </ul>
        
        <h4>Osher</h4>
        <ul>
            <li>Work with Alon</li>
            <li>Check links</li>
            <li>fix PDF reading</li>
            <li>checkout Apache Tikka</li>
        </ul>
    </div>
    
</body>